@page "/profile"
@using Model

<div class="row mt-2 mb-5">
    <h3 class="card-title text-primary">My Profile</h3>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="profileDetails" OnValidSubmit="ValidateProfileDetails">
                    <DataAnnotationsValidator/>
                    <div class="form-group">
                        <label>Name</label>
                        <InputText @bind-Value="profileDetails.Name" class="form-control"></InputText>
                        <ValidationMessage For="() => profileDetails.Name"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <InputNumber @bind-Value="profileDetails.Age" class="form-control"></InputNumber>
                        <ValidationMessage For="() => profileDetails.Age"></ValidationMessage>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@code {
    private ProfileDetails profileDetails = new();

    private async Task ValidateProfileDetails()
        {

        }
}
